<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between mt-5">
        <h3 class="fw-bold me-2">View Contact</h3>
        <a class="btn btn-outline-dark ms-2" routerLink="/">Back</a>
      </div>
      <hr />
    </div>
  </div>
</div>

<!-- Edit Contact Form -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form action="">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Name" />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Photo Url" />
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Email" />
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" placeholder="Phone" />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Title" />
        </div>
        <div class="mb-3">
          <select name="" class="form-control">
            <option value="">Select a Group</option>
          </select>
        </div>
        <div class="mb-3">
          <input type="submit" class="btn btn-dark" placeholder="Create" />
          <a class="btn btn-outline-dark ms-2" routerLink="/">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img style="width: 125px" src="../../../assets/beauty.png" alt="" />
    </div>
  </div>
</div>
